
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <div class="container">
        <h1>HAHAHHA</h1>
        <p>aaaaaaaaaaaaaaaaa, aaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaa a a    aaaa</p>
        <p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Quay lại trang chủ</a>
        </p>
    </div>
</div>
