@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Quản lý sản phẩm</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Created At</th>
            <th>Img</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01</td>
            <td>Product 01</td>
            <td>500.444 đ</td>
            <td><img src="~/img/phongkhach-sp1.png" /></td>
            <td>Product 01</td>
            <td><input type="button" class="btn btn-primary" value="View"/></td>
        </tr>
        <tr>
            <td>01</td>
            <td>Product 01</td>
            <td>500.444 đ</td>
            <td><img src="~/img/phongkhach-sp1.png" /></td>
            <td>Product 01</td>
            <td><input type="button" class="btn btn-primary" value="View" /></td>
        </tr>
        <tr>
            <td>01</td>
            <td>Product 01</td>
            <td>500.444 đ</td>
            <td><img src="~/img/phongkhach-sp1.png" /></td>
            <td>Product 01</td>
            <td><input type="button" class="btn btn-primary" value="View" /></td>
        </tr>
        <tr>
            <td>01</td>
            <td>Product 01</td>
            <td>500.444 đ</td>
            <td><img src="~/img/phongkhach-sp1.png" /></td>
            <td>Product 01</td>
            <td><input type="button" class="btn btn-primary" value="View" /></td>
        </tr>
    </tbody>
</table>
