@{
    ViewData["Title"] = "Home Page";
}


    <h1 class="">Danh sách sản phẩm</h1>
    <div class="text-center">
        <ul class="row list-unstyled">
            <li class="col-3">
                <img src="~/img/phongkhach-sp1.png"/>
                <p>Product 01</p>
            </li>
            <li class="col-3">
                <img src="~/img/phongkhach-sp2.png" />
                <p>Product 02</p>
            </li>
            <li class="col-3">
                <img src="~/img/phongkhach-sp3.png" />
                <p>Product 03</p>
            </li>
            <li class="col-3">
                <img src="~/img/phongkhach-sp4.png" />
                <p>Product 04</p>
            </li>
        </ul>
    </div>
